proxmox_endpoint  = "https://192.168.1.10:8006/api2/json"
proxmox_api_token = "USER@REALM!TOKEN_ID=CHANGE_ME"

proxmox_tls_insecure = true

ssh_public_key = "ssh-ed25519 CHANGE_ME"

# runner_template_vm_id = 9000
# runner_dns_servers    = ["192.168.1.1", "1.1.1.1"]
# runner_datastore_id   = "local-lvm"
# runner_network_bridge = "vmbr0"
